<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>al-furqaan</title>
</head>
<body>
    
    <div class="container">

        <nav class="navbar navbar-default navbar-static-top">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'inventory:list' %}">Items</a></li>
                <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="navbar-link" href="#"></a></li>
            </ul>
        </nav>
        
        {% block body_block %}
            
        {% endblock %}
            
    </div>

</body>
</html>